<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ 'style.css' |asset_url|stylesheet_tag}}
    {{ 'tailwind.css'|asset_url|stylesheet_tag }}
    <link rel="icon" href="{{ 'logo.png' | asset_url }}" type="image/png">

     {% comment %} <link rel="stylesheet" href="{{ 'style.css'|asset_url }}"> {% endcomment %}
    
    
     

</head>
<body>
    {{content_for_header}}
     {% include 'header' %}

{% include 'homepage' %} 
    {{ content_for_layout }}
   
<<<<<<< HEAD



    

=======
>>>>>>> c1df5f919dfbf7241331cc6238cc9df709899e99
    {% include 'footer' %}
</body>
</html>